.client-form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0px;
}

.client-form-card {
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--border-light);
  height: fit-content;
}

.client-form-header {
  text-align: center;
  margin-bottom: 25px;
}

.client-form-header h1 {
  font-size: 1.3rem;
  margin-bottom: 5px;
  font-weight: 400;
  color: var(--black-color);
}
.client-form-header p {
  font-size: 0.8rem;
  color: var(--text-dark);
  font-weight: 400;
}

.client-submit-btn {
  background-color: var(--bg-primary) !important;
  border-color: var(--bg-primary) !important;
  color: var(--black-color) !important;
}

.client-submit-btn:hover {
  background-color: var(--Firebrick-color) !important;
  border-color: var(--Firebrick-color) !important;
  color: var(--white-color) !important;
}

.client-contact-admin {
  border: 1px solid var(--bg-primary) !important;
  border-radius: 8px !important;
  background: transparent !important;
  color: var(--Firebrick-color) !important;
}

.client-contact-admin:hover {
  color: var(--black-color) !important;
}

.client-submit-btn:hover {
  opacity: 0.9;
}

.client-update-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--purple-color);
  text-align: center;
  margin: 24px 0 16px;
  line-height: 1.4;
}
